@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 152px;
    padding-left: 152px;
}

.nav-nome {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-nome-img {
    height: 24px;
}

.nav-nome-p {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #464646;
}

.nav-links{
    display: flex;
    gap: 32px;
}

.nav-links > a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #464646;
}

/* HEADER */

.header-content {
    padding-right: 152px;
    padding-left: 152px;
    padding-top: 66px;
    display: flex;
}

.header-content-info {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 52px;
    color: #464646;
}

.header-content-info-p {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 300;
}

.header-content-img {
    height: 368px;
    border-radius: 50%;
}

.header-content-links {
    display: flex;
    gap: 60px;
    padding-top: 27px;
}

.header-content-links > a {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #464646;
    text-decoration: none;
}

/* MAIN /*
/* SOBRE MIM */

.sobre-mim {
    padding-right: 152px;
    padding-left: 152px;
    padding-bottom: 64px;
    padding-top: 64px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: #DBD1B8;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.sobre-mim-info {
    width: 851px;
}

.sobre-mim-info > p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* SKILLS/HOBBIES */

.skills {
    padding-right: 152px;
    padding-left: 152px;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: #EDEDED;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.skills-cards {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.skills-cards > div {
    width: 176px;
    height: 174px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
}

.skills-cards > div > img {
    height: 35px;
    width: 35px;
}

.skills-cards > div > p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* FORMAÇÃO ACADÊMICA */

.formacao {
    padding-right: 152px;
    padding-left: 152px;
    padding-top: 40px;
    padding-bottom: 120px;
    background-color: #DBD1B8;
}

.formacao-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formacao-cards > div {
    width: 368px;
    height: 347px;
}

.formacao-cards > div > h4 {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.formacao-cards > div > p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.formacao-cards > div > div {
    width: 368px;
    height: 286px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/* EXPERIÊNCIA PROFISSIONAL */

.experiencia {
    padding-right: 152px;
    padding-left: 152px;
    padding-top: 40px;
    padding-bottom: 52px;
    background-color: #EDEDED;

}

.card-1 {
    display: flex;
    gap: 26px;
    align-items: center;
    padding-top: 20px;
}

.card-1-img {
    width: 752px;
    height: 427px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.card-1-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-1-info > * {
    margin: 8px 0;
}

.card-1-info > p {
    font-family: "Raleway", sans-serif;
}

.card-1-info-p {
    font-size: 22px;
    font-weight: bold;
}

.card-1-info-but {
    display: flex;
    gap: 16px;
}

.but-1 {
    width: 116px;
    height: 51px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #FFFFFF;
    border-color: #DBB484;
    color: #DBB484;
    cursor: pointer;
}

.but-2 {
    width: 116px;
    height: 51px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #DBB484;
    color: #FFFFFF;
    border-color: #DBD1B8;
    cursor: pointer;
}

.but-1:hover {
    border-color: #c7a16a; 
    transform: scale(1.05); 
}

.but-2:hover {
    background-color: #c7a16a; 
    border-color: #c7a16a; 
    transform: scale(1.05); 
}

.card-2 {
    display: flex;
    gap: 26px;
    align-items: center;
    padding-top: 54px;
}

.card-3 {
    display: flex;
    gap: 26px;
    align-items: center;
    padding-top: 54px;
}

.card-4 {
    display: flex;
    gap: 26px;
    align-items: center;
    padding-top: 54px;
}

.card-5 {
    display: flex;
    gap: 26px;
    align-items: center;
    padding-top: 54px;
}

/* CONTATO */

.contato {
    display: flex;
    padding-right: 152px;
    padding-left: 152px;
    padding-top: 130px;
    padding-bottom: 64px;
    align-items: stretch;
    justify-content: center;
    
}

.contato-img {
    width: 464px;
    height: auto;
}

.contato-info {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    justify-content: space-between;
    height: auto;
}

.contato-info-titulo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.contato-info-p {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

input {
    width: 656px;
    height: 56px;
    border: 2px solid #ccc;
    font-family: "Raleway", sans-serif;
}

textarea {
    width: 656px;
    height: 133px;
    font-family: "Raleway", sans-serif;
}

input:focus, textarea:focus {
    border-color: #DBB484; 
    outline: none; 
}

input::placeholder, textarea::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: #DBB484;
}

.btn-3 {
    width: 165px;
    height: 51px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-size: medium;
    background-color: #DBB484;
    color: #FFFFFF;
    border-color: #DBB484;
    border-radius: 4px;
    cursor: pointer;
}

.btn-3:hover {
    background-color: #c7a16a; 
    border-color: #c7a16a; 
    transform: scale(1.05); 
}

/* FOOTER */ 


footer {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #DBD1B8;

}

footer > p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    font-weight: bold;
}


/* Media Query para mobile (360px até 768px) */
@media (min-width: 360px) and (max-width: 768px) {
    
  
}






